
.main {
  background-color: #ffffff; 
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 6rem;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .body {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}

.form-switch.form-switch-md .form-check-input {
  height: 1.5rem;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem;
}

.card-size {
  min-height: 250px;
  max-height: 250px;
}

.card-move {
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.3s box-shadow,
      0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    cursor: pointer;
}

.card {
    border: 1px solid #dedede; 
    border-radius: 10px; 
}

.card-no-border {
  border: 0px solid #dedede; 
  border-radius: 10px; 
  background-color: #F5F5F5;
}

.btn {
  border-radius: 8px; 
}

.card-action-btn {
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.3s box-shadow,
      0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    cursor: pointer;
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.card-move:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12),
      0 4px 8px rgba(0, 0, 0, 0.06);
  }

.hover-border:hover {
  box-shadow: 0 0 0 2px var(--bs-primary);
}

.selected-border {
  box-shadow: 0 0 0 2px var(--bs-primary);
}

.hover-click:hover {
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

.hover-click:hover .text-primary {
  color: var(--bs-white) !important;
}

.truncate-paragraph {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.multi-line-text-truncate {
  overflow: hidden;
  max-width: 400px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 20px auto;
}

.sticky-top-padding {
  top: 25px 
}

.bg-black-gradient {
  background: linear-gradient(45deg, #ff7e5f, #feb47b); /* You can adjust the colors */
}

.bg-disabled {
  background-color: #f3f3f4;
}

.scrollable-list {
  height: 425px; 
  overflow: auto
}

.hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

.breadcrumb-devider {
  --bs-breadcrumb-divider: '/'
}

.breadcrumb-text {
  text-decoration: none;
  color: var(--bs-gray-900);
}

.breadcrumb-badge {
  background-color: #e7effa;
  color: var(--bs-primary);
  font-weight: 500;
}

.pointer-hover {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
  text-decoration: none; 
}

.clickable:hover {
  opacity: 0.6;
}

.avatar {
  width: 40px;
  height: 40px
}

.nav-link-side-bar {
  background-color: #ffffff;
  color: var(--bs-gray-dark);
}

.nav-link-side-bar:hover {
  background-color: #e7effa;
}

.nav-link-side-bar-selected {
  background-color: #e7effa;
  color: var(--bs-primary);
  font-weight: 500;
}

.badge-status-primary {
  color: rgb(50, 50, 50);
  border: 1px solid #d6e5fb;
  background-color: #ecf2f9;
}

.badge-status-success {
  color: rgb(50, 50, 50);
  border: 1px solid #c3f2d7;
  background-color: #e9f8ef;
}

.badge-status-error {
  color: rgb(50, 50, 50);
  border: 1px solid #f2c3c3;
  background-color: #f8e9e9;
}

.alert-success {
  color: rgb(50, 50, 50);
  border: 1px solid #c3f2d7;
  background-color: #e9f8ef;
  padding: 2%;
}

.alert-error {
  color: rgb(50, 50, 50);
  border: 1px solid #f2c3c3;
  background-color: #f8e9e9;
  padding: 2%;
}

.transparent-gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(180deg, transparent 0, rgb(255, 255, 255) 100%);
  border-radius: 10px; 
}

.dot-indicator {
  color: #ccc;
  font-size: 42px;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.dot-indicator:hover {
  color: var(--bs-primary);
  transform: scale(1.1); 
}

.active-dot-indicator {
  color: var(--bs-primary);
}


